@using MVC_PROJECT.Models
@model IEnumerable<Organizing>

@{

    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="~/bootstrap 4/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/bootstrap 4/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/style-organizing.css">
    <link rel="stylesheet" href="~/Content/slider.css">
    <style>
        div.content{
            margin-left: 240px;
        }
    </style>

</head>
<body>

    <div class="sidebar">
        <div class="image">
            <img src="~/image/cute cartoon portrait.jpg" alt="">
            <h6>User Name</h6>
        </div>
        <a href="@Url.Action("Index","Home")"> <i class="fa fa-home fa-x2"></i> Home</a>
        <a class="active" href="@Url.Action("HomeOrganizing","Organizing")">Orgnaizing</a>
        <a href="@Url.Action("MyTrip","Organizing")"> My Trip </a>
        <a href="@Url.Action("AddTrip","Organizing")">Add Travel</a>
        <a href="@Url.Action("DeniedTrips","Organizing")"> Denied trips </a>
        <a href="@Url.Action("logout", "Home")"> LogOut </a>
       

        <ul class="list-unstyled">
            <li> <i class="fa fa-facebook fa-lg"></i> </li>
            <li> <i class="fa fa-whatsapp fa-lg"></i> </li>
            <li> <i class="fa fa-telegram fa-lg"></i> </li>
        </ul>

    </div>

    <div class="content">
        <div class="container organizing">
            @foreach (var item in Model)
            {
                if (item.ID_Organizer == (int)Session["UserId"])
                {
                    <h2> @item.UserNameOrg </h2>
                    <h3> Camping trips in Syria: There are a lot of camping trips in all Syrian governorates, so what are you waiting for? Book one now </h3>
                    <h5> <i class="fa fa-envelope fa-lg"></i>@item.Address</h5>
                    <p> <i class="fa fa-phone fa-lg"></i> @item.MobilePhoneOrg </p>
                    <a href="@Url.Action("Edit","Organizing", new {id=item.ID_Organizer})"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editinfoorganizing">Edit</button></a>

                }
            }
            <hr>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/bootstrap 4/js/bootstrap.min.js"></script>
    <script src="~/bootstrap 4/js/popper.min.js"></script>
    <script src="~/Scripts/validation.js"></script>
    <script>
        $(document).ready(function () {
            $('#Button1').on('click', function () {
                var number = $('#number');
                number += 1;
                $('#Container').clone().appendTo("#new-Station");
            });

            $('#Button1').on('click', function () {
                $("#new-Station").fadeIn();
            });
           
        });
    </script>


</body>
</html>
